#homepage {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /*  align-items: stretch; */
  background-color: #F4F4F4
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #EA6E0E;
  color: white;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: #DEE5E5;
}

#center {
  display: flex;
  justify-content: stretch;
  margin: 20px 0px;
}

#sidebar {}

#image {
  background-image: linear-gradient(120deg, #FBEA00 10%, #F8C100 20%, #7FAD6A 80%);
  width: 300px;
  height: 160px;
  margin: 30px;
}

#title {
  margin: 16px;
}

.fa-cog {
  transform: scale(2);
  margin: 20px;
}

h1 {
  color: #EA6E0E;
  font-weight: lighter;
}