.orangeBorder {
  display: inline-block;
  border: 2px solid #EC6825;
  border-radius: 7px;
  box-shadow: 0 1px 3px gray;
}

.orangeBorder:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 3px gray;
}

.orangeBorder:active {
  transform: scale(0.95);
  box-shadow: none;
}

.btn {
  background-image: linear-gradient(#F9D54E, #F7701F);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 9px 20px;
}

.btn:focus {
  outline: 0;
}

#btnText {
  display: inline;
  margin: 26px;
}

#rightArrow {
  display: inline;
}

#leftArrow {
  display: inline;
}