.orangeBorder {
  display: inline-block;
  border: 2px solid #EC6825;
  border-radius: 7px;
  border-spacing: 10px;
  margin: 10px;
  box-shadow: 0 1px 3px gray;
}

.orangeBorder:hover {
  box-shadow: 0 3px 3px gray;
}

.orangeBorder:active {
  box-shadow: none;
}

.btn {
  background-image: linear-gradient(#F9D54E, #F7701F);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 7px 50px;
}

.btn:hover {
  padding: 7px 55px;
}

.btn:active {
  font-size: 10px;
  padding: 7px 45px;
}

.btn:focus {
  outline: 0;
}

.rightArrow {
  position: relative;
  right: 30px;
  font-size: 18px;
}

.leftArrow {
  position: relative;
  left: 30px;
  font-size: 18px;
}